doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Realtime Dashboard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/mdb.min.css', rel='stylesheet')
    link(href="css/morris.css",rel="stylesheet")
    link(href='css/style.css', rel='stylesheet')
  body(ng-app="yapp")
    block content
    script(type='text/javascript', src='js/lib/jquery-2.2.3.min.js')
    script(type='text/javascript', src='js/lib/tether.min.js')
    script(type='text/javascript', src='js/lib/bootstrap.min.js')
    script(type='text/javascript', src='js/lib/mdb.min.js')
    script(type='text/javascript', src='js/lib/raphael.min.js')
    script(type='text/javascript', src='js/lib/morris.min.js')
    script(type='text/javascript', src='js/lib/moment.min.js')
    script(type='text/javascript', src='js/lib/deepstream.min.js')

    script(type='text/javascript', src='js/lib/angular.min.js')
    script(type='text/javascript', src='js/lib/angular-morris.js')  
    script(type='text/javascript', src='js/lib/angular-moment.min.js')

    script(type='text/javascript', src='js/app.js')
    script(type='text/javascript', src='js/controllers/dashboard.js')

